# Pandas

In [1]:
import pandas as pd

Pandas is an open-source data analysis and manipulation library for the Python programming language. It is primarily used for data manipulation and analysis tasks, such as cleaning, munging, transforming, and analyzing data. Pandas provides data structures like Series and DataFrame that are designed to make working with structured data more intuitive.

## Data Reading and Writing Methods:

`read_csv`, `read_excel`, `read_sql`: Methods for reading data from various sources.
to_csv, to_excel, to_sql: Methods for writing data to different file formats or databases.

## Data Structure Creation Methods:

`DataFrame`: Create a new DataFrame from data.

`Series`: Create a new Series from data.

In [2]:
# Creating a DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda', 'Sophia'],
        'Age': [35, 29, 45, 41, 27],
        'City': ['New York', 'Paris', 'London', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

# Displaying the DataFrame
print("Full DataFrame:")
print(df)

# Creating a Series
s = pd.Series([0, 1, 4, 9, 16, 25])

# Displaying the Series
print("\nSeries:")
print(s)

Full DataFrame:
     Name  Age      City
0    John   35  New York
1    Anna   29     Paris
2   Peter   45    London
3   Linda   41    Sydney
4  Sophia   27     Tokyo

Series:
0     0
1     1
2     4
3     9
4    16
5    25
dtype: int64

## Data Inspection Methods:

`head`, `tail`: Display the first or last few rows of the DataFrame.

`info`, `describe`: Provide summary information about the DataFrame, including data types, non-null counts, and summary statistics.

In [3]:
# Using head to display the first few rows of the DataFrame
print("\nFirst few rows of the DataFrame:")
print(df.head(3))  # Display the first 3 rows

# Using tail to display the last few rows of the DataFrame
print("\nLast few rows of the DataFrame:")
print(df.tail(2))  # Display the last 2 rows

First few rows of the DataFrame:
    Name  Age      City
0   John   35  New York
1   Anna   29     Paris
2  Peter   45    London

Last few rows of the DataFrame:
     Name  Age    City
3   Linda   41  Sydney
4  Sophia   27   Tokyo

## Data Manipulation Methods:

`dropna`, `fillna`: Handle missing data by dropping or filling missing values.

`groupby`: Group data based on specified criteria.

`merge`, `concat`: Combine DataFrames using various methods such as merging and concatenation.

`pivot_table`, `melt`: Reshape data for analysis purposes.

## Data Selection and Filtering Methods:

`loc`, `iloc`: Select data by label or integer-location.

`query`: Filter data using a query expression.

`isin`: Check whether values are contained in a Series or DataFrame.

## Data Analysis and Computation Methods:

`mean`, `median`, `sum`: Compute descriptive statistics for data analysis.

`apply`, `applymap`: Apply functions to elements or entire DataFrames.

`value_counts`, `unique`: Obtain unique values or value counts in a Series.

## Time Series Methods:

`date_range`: Create a range of dates.

`resample`: Resample time series data to a different frequency.

`shift`, `diff`: Perform time series operations such as shifting and differencing.